.gambar-atas{
  overflow-x: hidden;
  height:250px;
  display:block;
}
h1{
  display: block;
  background-color: #7fa0d5;
  padding-top:15px;
  padding-bottom:15px;
  margin:0;
  font-size:14pt;
  text-align: center;
  color:white;
}
.order-item-form {
  width: 100%;
  padding-top:20px;
}

.field-full-width {
  width:calc(100% - 60px);
  padding-left:30px;
}
.cst-keyboard-virtual{
    width: calc(100% - 60px);
    /* border: 1px solid; */
    margin: 0 auto;
    padding-bottom:20px;

}

.bordered{
  border: 1px solid #4766a7;
  font-size: 21pt;
}
.cst-keyboard-virtual span:last-child{
  margin-bottom:40px;
}

.mat-option p {
    display: block;
    font-size: 10pt;
    white-space: pre-wrap;
    line-height: 1.4;
	margin: 5px 0;
	font-weight:normal
}
.mat-option .mat-option-text{display:block !important;}
.mat-option,.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background: #fe0000;
    border-bottom: 1px solid #fff;
	color:#fff
}
.mat-option-text {
    display: block;
}
label {

}
input {
    margin: 0 !important;
	border:0 !important;
	height:2rem !important; 
	color:#fff !important;
}
.mat-form-field-infix {
    padding: 0 !important;
}
.field-full-width{
    width: calc(100% - 60px);
    margin-left: 30px !important;
	padding:0 !important;
}
.indigo.lighten-5 {
    background-color: #fea142 !important;
    color: #fff;
}
