.gambar-atas{
  overflow-x: hidden;
  height:250px;
  display:block;
}
h1{
  display: block;
  background-color: #7fa0d5;
  padding-top:15px;
  padding-bottom:15px;
  margin:0;
  font-size:14pt;
  text-align: center;
  color:white;
}
.order-item-form {
  width: 100%;
  padding-top:30px;
}

.field-full-width {
  width:calc(100% - 60px);
  padding-left:30px;
}
.cst-keyboard-virtual{
    width: 278px;
    /* border: 1px solid; */
    margin: 0 auto;
    padding-bottom:45px;

}

.bordered{
  border: 1px solid;
  font-size: 21pt;
}
.cst-keyboard-virtual span:last-child{
  margin-bottom:40px;
}
