.gambar-atas{
  overflow-x: hidden;
  height:250px;
  display:block;
}
.cst-keyboard-virtual.center-align {
    position: relative;
}
.row.button-add-qyt {
    position: absolute;
    width: 30%;
    top: -61px;
    right: 0;
    margin: 0;
}
span.white-text {
    display: block;
    /* background: #fff; */
    /* text-align: center; */
    color: #ffb700;
    border-top: 1px solid #f8b713;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 18px;
    margin-top: -10px;
}
.button-add-qyt .col.s6 {
    padding: 0 0 0 5px !important;
}
.button-add-qyt button {
    display: block;
    border-radius: 0 !important;
    width: 100% !important;
    height: 40px;
	padding:0 !important;
    font-size: 6pt !important;
    color: #fff;
}
h1{
  display: block;
  background-color: #7fa0d5;
  padding-top:15px;
  padding-bottom:15px;
  margin:0;
  font-size:14pt;
  text-align: center;
  color:white;
}
.order-item-form {
  width: 100%;
  padding-top:20px;
}

.field-full-width {
  width:calc(100% - 60px);
  padding-left:30px;
}
.cst-keyboard-virtual{
    width: calc(100% - 60px);
    /* border: 1px solid; */
    margin: 0 auto;
    padding-bottom:20px;

}

.bordered{
  /* border: 1px solid #4766a7; */
  font-size: 21pt;
}
.indigo.lighten-5 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}
.cst-keyboard-virtual span:last-child{
  margin-bottom:40px;
}

.mat-option p {
    display: block;
    font-size: 10pt;
    white-space: pre-wrap;
    line-height: 1.4;
	margin: 5px 0;
	font-weight:normal
}
.mat-option .mat-option-text{display:block !important;}
.mat-option,.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background: #fe0000;
    border-bottom: 1px solid #fff;
	color:#fff
}
.mat-option[_ngcontent-c1] {
    height: 40px;
    line-height: 40px;
    background: #999;
}
.mat-option-text {
    display: block;
}
label {

}
.mat-form-field-infix {
    padding: 0 !important;
}
.field-full-width{
    width: calc(100% - 60px);
    margin-left: 30px !important;
	padding:0 !important;
}
.indigo.lighten-5 {
    background-color: #f8b713 !important;
    color: #fff;
	width:100%;
	height:100%;
	line-height:44px;
}
