<div class="cst-nav-toolbar">
    <mat-toolbar class="cst-btn-toolbar">
       <span><a class="cst-navigation-color" clickGoBack><mat-icon>keyboard_backspace</mat-icon></a></span>
      <span class="cst-title-form">TAMBAH ITEM {{title}}</span>
    </mat-toolbar>
</div>
<div class="cst-display-content">

  <form class="order-item-form">
    <mat-form-field class="field-full-width">
      <input
             placeholder="Name"
             aria-label="Product"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             name="product">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            <p class="mat-title">{{option.label}}</p>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Qty" disabled [(ngModel)]="qty" name="qty">
    </mat-form-field>
      <div class="row cst-keyboard-virtual center-align">

        <div *ngIf="kelipatan == 1;else stepper">
	  <mat-grid-list cols="3" rowHeight="2:1">
		<mat-grid-tile ><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('1')"><span>1</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('2')"><span>2</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('3')"><span>3</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('4')"><span>4</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('5')"><span>5</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('6')"><span>6</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('7')"><span>7</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('8')"><span>8</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('9')"><span>9</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('0')"><span>0</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('00')"><span>00</span></div></mat-grid-tile>
        <mat-grid-tile><div class=" center-align indigo lighten-5 bordered" (click)="NumberKeyboard('delete')"><mat-icon><span>backspace</span></mat-icon></div></mat-grid-tile>
		</mat-grid-list>
      </div>
		
        <ng-template #stepper>
          <label ><span class="white-text">hanya bisa kelipatan {{kelipatan}}</span></label>
          <div class="row button-add-qyt">
            <div class="col s6">
              <button (click)="stepDown()" class="btn-floating btn-large waves-effect waves-light red"><span style="font-size:4em">-</span></button>
            </div>

            <div class="col s6">
              <button (click)="stepUp()" class="btn-floating btn-large waves-effect waves-light red"><span style="font-size:4em">+</span></button>
            </div>
          </div>
        </ng-template>
      </div>
    <div class="align-center total-harga">Rp{{getTotal() | number | pointReplacer}}</div>
    <div  class="button-row">
      <button mat-raised-button color="warn" (click)="addToCart()">OK</button>
    </div>
   </form>
</div>
