<div class="cst-nav-toolbar">
    <mat-toolbar class="cst-btn-toolbar">
       <span><a class="cst-navigation-color" clickGoBack ><mat-icon>keyboard_backspace</mat-icon></a></span>
      <span class="cst-title-form">History</span>
    </mat-toolbar>
</div>
<div class="cst-display-content">
    <ul class="list-news-thumbnail">
        <li>
            <div class="date-news-thumbnail">20<span>SEP</span></div>
            <div class="data-news-thumbnail">
                <div class="title-news-thumbnail">
                    Lorem ipsum
                </div>
                <div class="summary-news-thumbnail">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor felis, ultrices sit amet dignissim nec.
                </div>
            </div>
        </li>
        <li>
            <div class="date-news-thumbnail">20<span>SEP</span></div>
            <div class="data-news-thumbnail">
                <div class="title-news-thumbnail">
                    Lorem ipsum
                </div>
                <div class="summary-news-thumbnail">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor felis, ultrices sit amet dignissim nec.
                </div>
            </div>
        </li>
        <li>
            <div class="date-news-thumbnail">20<span>SEP</span></div>
            <div class="data-news-thumbnail">
                <div class="title-news-thumbnail">
                    Lorem ipsum
                </div>
                <div class="summary-news-thumbnail">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor felis, ultrices sit amet dignissim nec.
                </div>
            </div>
        </li>	
    </ul>
</div>

