<div class="cst-nav-toolbar">
    <mat-toolbar class="cst-btn-toolbar">
       <span><a class="cst-navigation-color" clickGoBack ><mat-icon>keyboard_backspace</mat-icon></a></span>
      <span class="cst-title-form">History</span>
    </mat-toolbar>
</div>
<div class="cst-display-content">
    <mat-tab-group>
        <mat-tab label="Proses">
            <mat-list>
                <mat-list-item *ngFor="let order of orderDetail.getByStatus('PROSES')">
                    {{order.created_at + " " + order.id + " " + order.total_price}}
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="Terkirim">Terkirim</mat-tab>
        <mat-tab label="Arsip">Arsip</mat-tab>
    </mat-tab-group>
</div>

