<div class="cst-nav-toolbar">
    <mat-toolbar class="cst-btn-toolbar">
       <span><a class="cst-navigation-color" clickGoBack ><mat-icon>keyboard_backspace</mat-icon></a></span>
      <span class="cst-title-form">History</span>
    </mat-toolbar>
</div>
<div class="cst-display-content page-history">

    <mat-tab-group>
        <mat-tab label="Proses">
			<div class="container">
				<div class="row">
					<div class="col s12">	
					  <ul class="list-history-thumbnail">
					  	<li *ngFor="let order of orderDetail.getByStatus('PROSES')">
						<!--<li *ngFor="let order of orderDetail.getorderlist()" class="zero-payment">-->
							<span routerLink="/detail-history/{{order.id}}">
						  <span class="icon-history {{order.class}}"></span>
						  <div class="date-history-thumbnail">{{order.created_at.substr(8,2)}} <span>{{order.created_at.substr(5,2)}}</span></div>
						  <div class="data-history-thumbnail">
							<div class="title-history-thumbnail">
								Order ID : {{order.id}}
							</div>
							<div class="summary-history-thumbnail">
								Rp{{order.total_price | number | pointReplacer}}
							</div>
							</div>
							</span>
						</li>
						<!--<li class="full-payment">-->
						  <!--<span class="icon-history"></span>-->
						  <!--<div class="date-history-thumbnail">29 <span>Nov</span></div>-->
						  <!--<div class="data-history-thumbnail">-->
							<!--<div class="title-history-thumbnail">-->
							  <!--PO No. 0100023-->
							<!--</div>-->
							<!--<div class="summary-history-thumbnail">-->
							  <!--Rp. 1.000.000-->
							<!--</div>-->
						  <!--</div>-->
						<!--</li>-->
						<!--<li class="half-payment">-->
						  <!--<span class="icon-history"></span>-->
						  <!--<div class="date-history-thumbnail">02 <span>Aug</span></div>-->
						  <!--<div class="data-history-thumbnail">-->
							<!--<div class="title-history-thumbnail">-->
							  <!--PO No. 0100030-->
							<!--</div>-->
							<!--<div class="summary-history-thumbnail">-->
							  <!--Rp. 2.400.000-->
							<!--</div>-->
						  <!--</div>-->
						<!--</li>-->
						<!--<li class="zero-payment">-->
						  <!--<span class="icon-history"></span>-->
						  <!--<div class="date-history-thumbnail">12 <span>Jul</span></div>-->
						  <!--<div class="data-history-thumbnail">-->
							<!--<div class="title-history-thumbnail">-->
							  <!--PO No. 0100032-->
							<!--</div>-->
							<!--<div class="summary-history-thumbnail">-->
							  <!--Rp. 7.400.000-->
							<!--</div>-->
						  <!--</div>-->
						<!--</li>-->
					  </ul>
					</div>
				</div>
			</div>
        </mat-tab>
        <mat-tab label="Terkirim">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<ul class="list-history-thumbnail">
						  <li *ngFor="let order of orderDetail.getByStatus('TERKIRIM')" class="">
							<!--<li *ngFor="let order of orderDetail.getorderlist()" class="half-payment">-->
							<span routerLink="/detail-history/{{order.id}}">
							  <span class="icon-history {{order.class}}"></span>
							<div class="date-history-thumbnail">{{order.created_at.substr(8,2)}} <span>{{order.created_at.substr(5,2)}}</span></div>
							<div class="data-history-thumbnail">
							  <div class="title-history-thumbnail">
								Order ID : {{order.id}}
							  </div>
							  <div class="summary-history-thumbnail">
								Rp{{order.total_price | number | pointReplacer}}
							  </div>
							</div>
							</span>
						  </li>
						</ul>
					</div>
				</div>
			</div>
        </mat-tab>
        <mat-tab label="LUNAS">
			<div class="container">
				<div class="row">
					<div class="col s12">
					  <ul class="list-history-thumbnail">
						<li *ngFor="let order of orderDetail.getByStatus('LUNAS')" class="">
					  	<!--<li *ngFor="let order of orderDetail.getorderlist()" class="full-payment">-->
							<span routerLink="/detail-history/{{order.id}}">
							<span class="icon-history {{order.class}}"></span>
						  <div class="date-history-thumbnail">{{order.created_at.substr(8,2)}} <span>{{order.created_at.substr(5,2)}}</span></div>
						  <div class="data-history-thumbnail">
							<div class="title-history-thumbnail">
							  Order ID : {{order.id}}
							</div>
							<div class="summary-history-thumbnail">
								Rp{{order.total_price | number | pointReplacer}}
							</div>
							</div>
						</span>
						</li>
					  </ul>
					</div>
				</div>
			</div>
        </mat-tab>
    </mat-tab-group>
</div>

