<div class="cst-nav-toolbar" style="z-index: 10000">
    <mat-toolbar class="cst-btn-toolbar">
       <span><a class="cst-navigation-color" clickGoBack ><mat-icon>keyboard_backspace</mat-icon></a></span>
      <span class="cst-title-form">ORDER {{id_order}}</span>
    </mat-toolbar>
</div>
<div class="cst-display-content list-product-order">
  <div class="block-top">
	  <div class="button-row">
		<a  routerLink="/form-order-item/{{id_order}}"><button mat-raised-button color="warn">Tambah Item</button></a>
	  </div>
  </div>
  <div class="container">
    <div class="row">
		<div class="col s12">
		  <mat-card *ngFor="let item of cart.getItems()" class="layout-margin">
			<!--<img width="100" height="100" [src]="product.getProductById(item.id).image" alt="no Image Available">-->
			  <mat-card-title>
				{{product.getProductById(item.id).name}}
			  </mat-card-title>
			  <mat-card-content>
				<!--<span class="truncate">{{product.getProductById(item.id).description}}</span>-->
				<p style="float:left;color:#00c5ae;margin:0">Qty : {{item.qty}}</p>
				<p style="float:right;margin:0">Price : {{item.price | number}}</p>
			  </mat-card-content>
              <mat-card-actions>
                  <a  routerLink="/form-order-item/{{id_order}}/{{item.id}}"><button mat-button>UBAH</button></a>
                  <button mat-button (click)="onClickDelete(item.id)">HAPUS</button>
              </mat-card-actions>
		  </mat-card>
		</div>
    </div>
  </div>
  <div class="block-bottom">
	  <div class="label-total-harga align-center">Total</div>
	  <div class="align-center total-harga">{{cart.getTotal() | currency:'IDR':true}}</div>

	  <div  class="button-row">
		<a  routerLink="/form-address"><button mat-raised-button color="warn">Order</button></a>
	  </div>
  </div>
</div>
