<div class="cst-nav-toolbar" style="z-index: 10000">
    <mat-toolbar class="cst-btn-toolbar">
       <span><a class="cst-navigation-color" clickGoBack ><mat-icon>keyboard_backspace</mat-icon></a></span>
      <span class="cst-title-form">ORDER {{id_order}}</span>
    </mat-toolbar>
</div>
<div class="cst-display-content">
  <div  class="button-row">
    <a  routerLink="/form-order-item/{{id_order}}"><button mat-raised-button color="warn">Tambah Item</button></a>
  </div>
    <mat-card *ngFor="let item of cart.getItems()">
      <img mat-card-image [src]="product.getProductById(item.id).image" alt="no Image Available">
        <mat-card-title>
          {{product.getProductById(item.id).name}}
        </mat-card-title>
        <mat-card-content>
          {{product.getProductById(item.id).description}}
          <p>Qty : {{item.qty}}</p>
          <p>Price : {{item.price}}</p>
        </mat-card-content>
    </mat-card>
</div>
