.gambar-atas{
    overflow-x: hidden;
    height:250px;
    display:block;
    width:100%;
}

h1{
    display: block;
    background-color: #f8b713;
    padding-top:15px;
    padding-bottom:15px;
    margin:0;
    font-size:14pt;
    text-align: center;
    color:white;
}
.login-form {
    width: 100%;
    padding-top:30px;
}
  
.login-full-width {
    width:calc(100% - 60px);
    padding-left:30px;
}

h1 {
    padding: 24px 0 !important;
    font-weight: 500;
    font-size: 15pt !important;
}
input {
    margin: 0 !important;
    border: 0 !important;
    height: 1.5rem !important;
    color: #fff !important;
}
.gambar-atas img:last-child{
    height: 80px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 4px;
}
button {
    margin-bottom: 40px !important;
}