
.gambar-atas{
    overflow-x: hidden;
    height:50vh;
    display:block;
    width:100%;
}

h1{
    display: none;
    background-color: #f8b713;
    padding-top:15px;
    padding-bottom:15px;
    margin:0;
    font-size:14pt;
    text-align: center;
    color:white;
} 
.login-form {
    width: 100%;
    padding-top:0px;
}
  
.login-full-width {
    width:calc(100% - 60px);
    padding-left:30px;
}

h1 {
    padding: 24px 0 !important;
    font-weight: 500;
    font-size: 15pt !important;
}

.mat-form-field-placeholder-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    padding-top: 0;
}
.gambar-atas[_ngcontent-c1] img[_ngcontent-c1]:last-child {
    height: 150px;
    width: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    padding: 0;
    border-radius: 4px;
}
button {
    margin-bottom: 40px !important;
}
.gambar-atas.login-page img:first-child {
    position: fixed;
    bottom: 0;
    top: auto;
}