<div class="gambar-atas">
<img src="assets/home.jpg"/>
</div>
<div class="first-home-menu">
<mat-grid-list cols="4" rowHeight="45px">
    <mat-grid-tile>
        <a routerLink="/form-order/1"><img class="" src="assets/logo-sika.png"/> </a>
    </mat-grid-tile>
    <mat-grid-tile>
		<a routerLink="/form-order/2"><img class="" src="assets/logo-makita.png"/> </a>
    </mat-grid-tile>
    <mat-grid-tile>
		<a routerLink="/form-order/3"><img class="" src="assets/logo-lakoni.png"/></a>
    </mat-grid-tile>
    <mat-grid-tile>
					<button mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon>more_vert</mat-icon>
					</button>
				  <mat-menu #menu="matMenu">
					<button mat-menu-item routerLink="/history">
					  <mat-icon>history</mat-icon>
					  <span>History</span>
					</button>
					<button mat-menu-item  routerLink="/setting">
					  <mat-icon>settings</mat-icon>
					  <span>Setting</span>
					</button>
				  </mat-menu>
    </mat-grid-tile>
</mat-grid-list>
</div>
<ul class="list-news-thumbnail">
	<li *ngFor="let post of posts.getPost()">
		<div class="date-news-thumbnail">{{post.created_at.substr(8,2)}} <span>{{post.created_at.substr(5,2)}}</span></div>
		<div class="data-news-thumbnail">
			<div class="title-news-thumbnail">
				{{post.title}}
			</div>
			<div class="summary-news-thumbnail">
				{{post.content.substr(0,100)}}
			</div>
		</div>
	</li>
</ul>
