.first-home-menu a {
    padding: 0 10px;
}
mat-grid-list{
    display: block;
}
mat-grid-list img{
   max-width:100%;
   height:auto;
   max-height: 40px;
   margin-top:15px;
   margin-bottom:15px;
}
.first-home-menu {
    padding: 10px 10px 7px;
    background-color: #f8b713;
}
ul.list-news-thumbnail {
    list-style: none;
    margin: 0;
    padding: 10px 20px !important;
}
.title-news-thumbnail {
    font-size: 11pt;
}
button {
    width:100% !important;
    border-radius: 0px !important;
    text-transform: uppercase;
    background: transparent !important;
    font-size: 14pt !important;
    padding: 0 16px !important; 
    border: 0px solid #000 !important; 
}
