<img class="gambar-atas" src="assets/home.jpg" />
<mat-grid-list cols="4" rowHeight="60px">
    <mat-grid-tile>
        <a routerLink="/form-order/1"><img class="" src="assets/logo-sika.png"/> </a>
    </mat-grid-tile>
    <mat-grid-tile>
    <a routerLink="/form-order/2"><img class="" src="assets/logo-makita.png"/> </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a routerLink="/history"><img class="" src="assets/history.png"/> </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a routerLink="/setting"><img class="" src="assets/setting.png"/> </a>
    </mat-grid-tile>
</mat-grid-list>
<ul class="list-news-thumbnail">
	<li>
		<div class="date-news-thumbnail">20<span>SEP</span></div>
		<div class="data-news-thumbnail">
			<div class="title-news-thumbnail">
				Lorem ipsum
			</div>
			<div class="summary-news-thumbnail">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor felis, ultrices sit amet dignissim nec.
			</div>
		</div>
	</li>
	<li>
		<div class="date-news-thumbnail">20<span>SEP</span></div>
		<div class="data-news-thumbnail">
			<div class="title-news-thumbnail">
				Lorem ipsum
			</div>
			<div class="summary-news-thumbnail">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor felis, ultrices sit amet dignissim nec.
			</div>
		</div>
	</li>
	<li>
		<div class="date-news-thumbnail">20<span>SEP</span></div>
		<div class="data-news-thumbnail">
			<div class="title-news-thumbnail">
				Lorem ipsum
			</div>
			<div class="summary-news-thumbnail">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor felis, ultrices sit amet dignissim nec.
			</div>
		</div>
	</li>	
</ul>