<div class="gambar-atas">
<img src="assets/home.jpg"/>
</div>
<div class="first-home-menu">
<mat-grid-list cols="4" rowHeight="45px">
    <mat-grid-tile>
        <a routerLink="/form-order/1"><img class="" src="assets/logo-sika.png"/> </a>
    </mat-grid-tile>
    <mat-grid-tile>
		<a routerLink="/form-order/2"><img class="" src="assets/logo-makita.png"/> </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a routerLink="/history"><img class="" src="assets/history.png"/> </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a routerLink="/setting"><img class="" src="assets/setting.png"/> </a>
    </mat-grid-tile>
</mat-grid-list>
</div>
<ul class="list-news-thumbnail">
	<li *ngFor="let post of posts.getPost()">
		<div class="date-news-thumbnail">{{post.created_at.getDay() + 1}} <span>{{post.created_at.getMonth() + 1}}</span></div>
		<div class="data-news-thumbnail">
			<div class="title-news-thumbnail">
				{{post.title}}
			</div>
			<div class="summary-news-thumbnail">
				{{post.content.substr(0,100)}}
			</div>
		</div>
	</li>
</ul>
