<div class="cst-nav-toolbar" style="z-index: 10000">
  <mat-toolbar class="cst-btn-toolbar">
    <span><a class="cst-navigation-color" clickGoBack><mat-icon>keyboard_backspace</mat-icon></a></span>
    <span class="cst-title-form">UBAH PASSWORD</span>
  </mat-toolbar>
</div>
<div class="cst-display-content">
  <form class="change-form">
    <mat-form-field class="change-full-width">
      <input matInput placeholder="PASSWORD LAMA" [(ngModel)]="oldpass" name="oldpass">
    </mat-form-field>
    <mat-form-field class="change-full-width">
      <input matInput placeholder="PASSWORD BARU" [(ngModel)]="newpass" name="newpass">
    </mat-form-field>
    <mat-form-field class="change-full-width">
      <input matInput placeholder="PASSWORD BARU (KETIK SEKALI LAGI)" [(ngModel)]="repass" name="repass">
    </mat-form-field>
    <div  class="button-row">
      <button mat-raised-button color="warn" (click)="onClickChange()">OK</button>
    </div>
  </form>
</div>