.change-full-width {
    width:calc(100% - 60px);
    padding-left:30px;
}
.change-form{padding-top:20px}

input {
    margin: 0 !important;
    border: 0 !important;
    height: 1.5rem !important;
    color: #fff !important;
}
textarea{color:#fff}