<div class="cst-nav-toolbar" style="z-index: 10000">
    <mat-toolbar class="cst-btn-toolbar">
       <span><a class="cst-navigation-color" clickGoBack ><mat-icon>keyboard_backspace</mat-icon></a></span>
      <span class="cst-title-form">ORDER {{id_order}}</span>
    </mat-toolbar>
</div>
<div class="cst-display-content form-product-checkout">
<div class="container">
  <div class="row">
  <div class="col s12">
    <mat-card *ngFor="let item of cart.getItems()" class="layout-margin">
      <!--<img width="100" height="100" [src]="product.getProductById(item.id).image" alt="no Image Available">-->
      <mat-card-title>
        {{product.getProductById(item.id).name}}
      </mat-card-title>
      <mat-card-content>
        <!--<span class="truncate">{{product.getProductById(item.id).description}}</span>-->
        <p style="float:left;color:#00c5ae;margin:0">Qty : {{item.qty}}</p>
        <p style="float:right;margin:0">Price : {{item.price}}</p>
      </mat-card-content>
    </mat-card>
 <div class="detail-order-block">
<div class="label-total-harga">KIRIM KE:</div>
<div class="content-detail-order">{{alamat_tujuan}}</div>
<div class="label-total-harga">CATATAN:</div>
<div class="content-detail-order">{{catatan}}</div>
<div class="align-left"><mat-checkbox [(ngModel)]="isPajak" [disabled]="true">Butuh faktur pajak</mat-checkbox></div>
</div>
 <div class="label-total-harga align-center">TOTAL</div>
<div class="align-center total-harga">{{cart.getTotal() | currency:'IDR':true}}</div>
<div class="align-left"><mat-checkbox [(ngModel)]="isAgree" >Saya telah memeriksa dan menyetujui order ini, dan memahami bahwa order yang sudah dibuat tidak bisa dibatalkan dengan alasan apapun.</mat-checkbox></div>
</div>
  </div>
  </div>
<!-- <div  class="block-bottom"> -->
<div  class="button-row">
  <a routerLink="/testing">
  <button mat-raised-button color="warn">Bayar</button>
</a>
</div>
<!-- </div> -->
</div>